

// COLOR SCHEME
// ============

// Basic colors

$color-primary:  			#01C008;
$color-blue:				#3280fc;
$color-green:				#38b03f;
$color-red:					#ea644a;
$color-brown:				#bd7b46;
$color-purple:				#8666b8;
$color-secondary:			lighten(#01C008, .15);
$color-fore:				#353535;
$color-back:				#fff;

