@charset "UTF-8";
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

*:not(input, textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none; }

select {
  -webkit-appearance: none; }

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

html {
  font-family: "Helvetica Neue","PingFang SC", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0088cc; }

a:active {
  outline: 0; }

a:active {
  color: #006699; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: middle; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc; }

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

/*超出省略号*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

.clearfix {
  zoom: 1; }

/*居中*/
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/*字体大小设定*/
.fwb {
  font-weight: bold; }

/*字体颜色*/
/*背景颜色*/
.bg-primary {
  background-color: #01C008; }

/*距离*/
.wt100 {
  width: 100%; }

/*
浮动*/
.fl {
  float: left; }

.fr {
  float: right; }

.container {
  margin: 0 auto 0 10px; }
  .container .page-header {
    padding: 0px 0px 10px 20px;
    margin: 20px 0px 20px 27px;
    border-bottom: 4px double #f1f1f1;
    position: relative; }
    .container .page-header button {
      background-color: #fff;
      border: 1px solid #e5e5e5;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      z-index: 10;
      position: absolute;
      top: 5px;
      left: -10px; }
      .container .page-header button:after {
        top: 10px;
        width: 11px;
        height: 1px;
        background-color: #ddd;
        content: " ";
        position: absolute;
        top: 8px;
        left: 4px;
        transition: background-color ease; }
      .container .page-header button:hover {
        border-color: #01C008; }
        .container .page-header button:hover:before, .container .page-header button:hover:after {
          background-color: #01C008; }
    .container .page-header:before {
      display: table;
      content: " "; }
    .container .page-header:after {
      display: table;
      content: " ";
      clear: both; }
    .container .page-header h2 {
      float: left;
      font-size: 16px;
      font-weight: 700; }
    .container .page-header .cubes {
      padding: 5px 10px;
      background-color: #e5e5e5;
      margin-right: 10px;
      color: #01C008; }
  .container .page-body {
    position: relative;
    margin-left: 27px;
    padding: 0px 0px 10px 20px; }
    .container .page-body:before {
      border-left: 1px dotted #e5e5e5;
      position: absolute;
      top: -86px;
      left: 0px;
      bottom: 0px;
      content: " "; }
    .container .page-body section {
      position: relative; }
      .container .page-body section:before {
        border-left: 1px dotted #e5e5e5;
        position: absolute;
        top: 13px;
        left: -20px;
        bottom: 0px;
        content: " ";
        transition: border-color ease; }
      .container .page-body section:hover:before {
        border-color: #01C008; }
      .container .page-body section:hover header:before {
        border-color: #01C008; }
      .container .page-body section:hover header:after {
        background-color: #01C008; }
      .container .page-body section:hover header h3 {
        color: #01C008; }
        .container .page-body section:hover header h3:after {
          background-color: #fff; }
      .container .page-body section p {
        font-size: 12px;
        color: #5a5a5a; }
      .container .page-body section header {
        cursor: pointer;
        padding-bottom: 10px; }
        .container .page-body section header:before {
          border-bottom: 1px dotted #e5e5e5;
          position: absolute;
          top: 13px;
          left: -12px;
          width: 8px;
          content: " ";
          transition: border-color ease; }
        .container .page-body section header:after {
          background-color: #f1f1f1;
          width: 14px;
          height: 14px;
          content: " ";
          position: absolute;
          top: 7px;
          left: -27px;
          border-radius: 50%;
          transition: background-color ease; }
        .container .page-body section header h3 {
          font-size: 14px; }
          .container .page-body section header h3:after {
            background-color: #f1f1f1;
            width: 7px;
            height: 1px;
            content: " ";
            position: absolute;
            top: 13px;
            left: -23px;
            z-index: 10;
            transition: background-color ease; }
      .container .page-body section.page-body-closed:before {
        bottom: 17px; }
      .container .page-body section.page-body-closed header h3:before {
        position: absolute;
        width: 1px;
        height: 7px;
        content: " ";
        top: 10px;
        left: -20px;
        z-index: 10;
        background-color: #e5e5e5; }
      .container .page-body section.page-body-closed article {
        display: none; }

.page-closed .page-header button:before {
  position: absolute;
  width: 1px;
  height: 11px;
  content: " ";
  top: 3px;
  left: 9px;
  background-color: #e5e5e5; }
.page-closed .page-body section:before {
  bottom: 17px; }
.page-closed .page-body section header h3:before {
  position: absolute;
  width: 1px;
  height: 7px;
  content: " ";
  top: 10px;
  left: -20px;
  z-index: 10;
  background-color: #e5e5e5; }
.page-closed .page-body section article {
  display: none; }
